/* styles.css */
body {
    font-family: Arial, sans-serif;
}

h1, h3 {
    color:white ; /* Cambia el color de todos los textos a blanco */
}
h1,h3
 {text-align: center}

.table{
    color: white;
}

